.form-label {
  color: #fff;
  font-size: 14px;
}
.bg-contacto {
  background-image: url(../img/imagen-contacto.png);
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 450px) {
  .mobile {
    padding: 0 !important;
  }
}
