.productos-container {
  background-color: $oscuro;
  border: 5px groove $fuxia;
  border-radius: 10px;
}

.productos-subtitle {
  font-size: 20px;
  color: $amarillo;
}
.producto-img {
  width: 300px;
  height: 300px;
  border: 10px ridge $violeta;
  border-radius: 15px;
}
.producto-text {
  font-size: 16px;
  color: #fff;
}
