.servicios-title {
  text-align: center;
  font-size: 35px;
  color: #fff;
}
.servicios-subtitle {
  font-size: 20px;
  color: $amarillo;
}
.servicios-text {
  font-size: 13px;
  color: #fff;
}
.img-servicios {
  object-fit: cover;
}
